@import '~normalize.css';
html {
  font-family: 'Hiragino Sans GB','Helvetica Neue',Microsoft Yahei,Arial,\5b8b\4f53,sans-serif;
  -webkit-tap-highlight-color: transparent;
}
a {
  text-decoration: none;
  color: inherit;
}